config.mk
build/
build-asan/
build-tsan/
libmgl.dylib
libmgl_es.dylib
external/OpenGL-Registry/
external/ezxml/
*.DS_Store
/MGL.gputrace
/Info.plist
*.dylib
/.claude
/docs
/.workbuddy
/mgl-ssbo-20260805b/
build_asan/
